<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Update user</title>
</head>
<body>
  <div class="topnav">
        <a  href="/">Home</a>
        <a href="create">Create User</a>
    </div>
    <form action="/update-user/<%= user.id%>" method="post" class="form-add-new">
      <fieldset>
          <legend>Update userId <%= user.id%>:</legend>
          <div class="input-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="<%= user.email%>" required>
          </div>
          <div class="input-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= user.name%>" required>
          </div>
          <div class="input-group">
            <label for="city">City:</label>
            <input type="text" id="city" name="city" value="<%= user.city%>" required>
          </div>
          <div>
            <button type="submit">Save</button>
          </div>
      </fieldset>
    </form>
</body>
</html>